@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@import '@nuxt/ui';

@theme {
  --breakpoint-xs: 30rem;
}

html { @apply size-full; }

body {
  @apply min-h-dvh min-w-full
         text-gray-700 dark:text-gray-300 relative font-sans
         bg-[url('/images/micron.svg')] dark:bg-[url('/images/gulf.svg')]
         bg-[#f9f4ff]! dark:bg-[#02013e]!
         bg-no-repeat bg-auto
         bg-[right_-16rem_bottom_10rem]
         sm:bg-[right_-12rem_bottom_13rem]
         md:bg-fixed md:bg-[right_-8rem_bottom_16rem]
         lg:bg-[right_-4rem_bottom_19rem]
         xl:bg-[right_0rem_bottom_21rem];
}

h1,
h2,
h3,
h4,
h5,
h6,
.hN {
  @apply font-serif text-gray-900 dark:text-gray-100;
}

.nav-link-active {
  @apply bg-white text-black dark:bg-black dark:text-white hover:bg-white hover:text-black dark:hover:text-white dark:hover:bg-black;
}

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;
}

@layer components {
  .excerpt-card {
    @apply p-5! rounded-2xl bg-gray-500/5 relative backdrop-blur-sm border border-gray-500/10 dark:border-gray-400/10 hover:bg-gray-500/10 dark:hover:bg-gray-400/10 transition-colors duration-200 ease-in-out;
  }

  .h-line {
    @apply h-px my-4 border-0 !border-t-[1px] border-t-gray-50 dark:border-b-gray-950 !border-b-[1px] border-b-gray-300 dark:border-t-gray-700;
  }
}

@layer base {
  .shiki-themes {
    @apply bg-[#f9f4ff97]! dark:bg-[#04124f97]! border-[#04124f20]! dark:border-[#f9f4ff20]!;
  }

  .content {
    @apply selection:bg-gray-950 dark:selection:bg-gray-50 selection:text-gray-50 dark:selection:text-gray-950;

    h1 {
      @apply text-4xl font-normal my-6;
    }

    h2 {
      @apply text-3xl font-normal my-6;
    }

    p {
      @apply mb-2 leading-7 text-pretty;

      a {
        @apply border-b border-dotted border-black dark:border-white;

        &:hover {
          @apply border-b border-solid;
        }
      }
    }

    a {
      @apply text-black dark:text-white no-underline;
    }

    ul {
      @apply list-disc list-inside ml-1 mb-2;
    }

    hr {
      @apply h-px! w-full! my-4! border-0! border-t-[1px]! border-b-[1px]! border-t-gray-50! dark:border-b-gray-950! border-b-gray-300! dark:border-t-gray-700!;
    }

    blockquote {
      @apply border-gray-500/50;
    }
  }

  .prose a {
    @apply no-underline!;
  }
}
